body{background-color: #fff;}
.wrap538{width: 100%;max-width: 538px;}
.wrap538 img{width: 100%;display: block;}

.subPacade--container{padding-bottom: 120px;}
.subPacade--main-sect{color: #000;padding-top: 40px;padding-bottom: 60px;overflow: hidden;}
.subPacade--main-sect-cont {display: flex; flex-direction: row; flex-wrap: wrap; gap:0 5px;}
.subPacade--main-sect-cont .contbx {flex-basis:calc(50% - 10px)}
.subPacade--main-sect-cont .contbx img {width:100%;}
.subPacade--main-text{display: flex;margin-top: 40px;}
.subPacade--main-text-link{flex-basis:50%}
.subPacade--main-text-info{flex-basis:50%}
.subPacade--main-text-info2{max-width: 600px;width: 50%;}
.subPacade--main-text-link{margin-right: 20px;}
.subPacade--main-text01{font-size: 15px;margin-top: 1em;color: #999;}
@media all and (max-width:480px){
    .subPacade--main-text-info{width: 100%;}
}
.copyLinkButton{cursor: pointer;}
.subPacade--main-text-info-time-row:not(:last-child),
.subPacade--main-text-link-row:not(:last-child),
.subPacade--main-text-info-row:not(:last-child){margin-bottom: 0.8em;}
.subPacade--main-text-info-time-row,
.subPacade--main-text-link-row,
.subPacade--main-text-info-row{font-size: 18px;}
.subPacade--main-text-link-row:not(:first-child){cursor: pointer;}
.subPacade--main-text-info-time-row,
.subPacade--main-text-info-row{display: flex;}
.subPacade--main-text-info-row>p:first-child{margin-right: 0px;width: 140px;}
.subPacade--main-text-info-row>p:nth-of-type(2){width:calc(100% - 140px)}
.subPacade--main-text-info-time-row{display: flex;align-items: center;}
.copyLinkButton:hover .subPage--title-prev{transform: translate(-50%,0);}
.subPage--title-prev{transition: transform 0.2s;}
@media all and (max-width:767px){
    .subPacade--main-sect-cont {gap:2px 0;}
    .subPacade--main-sect-cont .contbx {flex-basis:calc(100%)}
    .subPacade--container{padding-bottom: 80px;}
    .subPacade--main-text-info{margin-top: 24px;}
    .subPacade--main-text-info-time-row, .subPacade--main-text-link-row, .subPacade--main-text-info-row{font-size: 16px;}
    .subPacade--main-text{flex-direction: column;}
    .subPacade--main-text-link{width: 100%;}
    .subPacade--main-text-link-row-wrap{display: flex;flex-wrap: wrap;margin-bottom: 0px;}
    .subPacade--main-text-link-row-wrap .subPacade--main-text-link-row{margin-right: 12px;margin-bottom: 12px;}
    .subPacade--main-text-info-row{margin-bottom: 20px !important;}
    .subPacade--main-text-info-row{flex-direction: column;}
    .subPacade--main-text-info-row>p:first-child{margin-bottom: 12px;}
    .subPacade--main-sect{padding-bottom: 40px;padding-top: 24px;}
    .subPacade--main-text{margin-top: 24px;}
}
.subPacade--main-text-info-time-row{width: 100%;}
.subPacade--main-text-info-time-row p{display: flex;align-items: center;}
.subPacade--main-text-info-time-row p:first-child{width: 140px;}
.subPacade--main-text-info-time-row span{display: flex;align-items: center;justify-content: center;background-color: #1bc85f;color: #000;border-radius: 50%;width: 24px;height: 24px;margin-right: 7px;font-size: 15px;font-weight: 600;}

.subPacade--sub-sect{border-top: 1px solid #000;color: #000;}
.subPacade--title{padding: 28px 0 40px;color: #000;}
.subPacade--title-button{display: -webkit-inline-flex;align-items: center;cursor: pointer;}
/* .subPacade--title-button.off img{transform: rotate(180deg);} */
.subPacade--sub-title-button{display: -webkit-inline-flex;align-items: center;margin: 28px 0;}
.subPacade--downArrow1{width: 22px;height: 14px;margin-right: 13px;}
.subPacade--downArrow2{width: 14px;height: 8px;margin-right: 12px;}
.subPacade--slide{overflow: hidden;}
.subPacade--slide1{padding-top: 28px;}
.subPacade--slide.off{height: 0px;padding: 0;}
.subPacade--text1{font-size: 32px;font-weight: 500;}
.subPacade--text2{font-size: 17px;letter-spacing: -0.5px;line-height: 1.66;font-weight: 300;}
.subPacade--text2.pd {padding-bottom:30px;}
.subPacade--text3{font-size: 22px;letter-spacing: -0.2px;font-weight: 500;}
.subPacade--text4{font-size: 15px;letter-spacing: -0.2px;font-weight: 400;color: #999;}
.subPacade--sub-container{border-top: 1px solid #000;}
.subPacade--sub-bodyWrap{display:block;}
.subPacade--sub-body{display: flex;padding-bottom: 40px;}
.subPacade--sub-thumb{width: 36.6%;margin-right: 20px;}
.subPacade--sub-thumb .subPacade--text4{margin-top: 1em; line-height: 1.4;}
.subPacade--sub-thumb img{width: 100%;}
.subPacade--sub-exp{width: calc(63.4% - 20px);padding-top: 10px;}
.subPacade--sub-exp-super{width: 100%;}
.subPacade--sub-body .subPacade--text2{line-height: 1.5;}

.pcd-button{cursor: pointer;}
.pcd-button img{transform: rotate(180deg);}
.pcd-button.off img{transform: rotate(0deg);}
.swiper{padding-top: 28px;border-top: 1px solid #000;padding-bottom: 60px;}
.swiper-slide img{width: 100%;display: block;}
.subPacade--news-container{border-top: 1px solid #000;padding-bottom: 100px;}
.subPacade--news-item{display: flex;justify-content: space-between;align-items: center;border-bottom: 1px solid #000;padding: 20px 10px;}
.subPacade--news-item:hover .subPacade--news-item-text1{text-decoration: underline;}
.subPacade--news-item-text1{font-size: 22px;font-weight: 500;letter-spacing: -0.2px;line-height: 1.5;}
.subPacade--news-item-text2{font-size: 18px;font-weight: 500;letter-spacing: -0.2px;}
.subPacade--news-item-text3{font-size: 18px;font-weight: 500;color: #444444;}
.subPacade--move{color: #000;border-top: 1px solid #000;}
.subPacade--move-row{display: flex;border-bottom: 1px solid #999;font-size: 16px;padding: 20px 7px;}
.subPacade--move-row p:first-child{width: 180px;color: #999999;}
.subPacade--move-button{display: flex;justify-content: flex-end;margin-top: 40px;}
.subPacade--move-button a{width: 92px;height: 48px;border-radius: 40px;background-color: #000;color: #fff;font-size: 14px;font-weight: 600;display: flex;align-items: center;text-align: center;justify-content: center;}
@media all and (max-width:767px){
    .subPacade--slide1{padding-top: 18px;}
    .subPacade--title{padding: 18px 0 32px;}
    .subPacade--sub-title-button{margin: 18px 0 24px;}
    .subPacade--downArrow1{width: 16px;height: 8px;margin-right: 10px;}
    .subPacade--downArrow2{width: 12px;height: 6.5px;margin-right: 8px;}
    .subPacade--text1{font-size: 24px;}
    .subPacade--text2{font-size: 16px;}
    .subPacade--text3{font-size: 18px;}
    .subPacade--news-item-text1{font-size: 16px;}
    .subPacade--news-item-text2{font-size: 12px;}
    .subPacade--news-item-text3{font-size: 14px;}
    .subPacade--move-row{font-size: 14px;}
    .subPacade--move-row p:first-child{width: 40%;max-width: 140px;}
    .subPacade--news-container{padding-bottom: 80px;}
    .subPacade--move-button a{width: 80px;height: 36px;}
}
@media all and (max-width:480px){
    .subPacade--sub-body{flex-direction: column;}
    .subPacade--sub-thumb{width: 100%;margin-right: 0;}
    .subPacade--sub-exp{padding-top: 18px;width: 100%;}
    .subPacade--downArrow1{width: 12px;height: 6px;}
    .subPacade--downArrow2{width: 10px;height: 5px;}
    .subPacade--main-text-info-time-row, .subPacade--main-text-link-row, .subPacade--main-text-info-row{font-size: 14px;}
    .subPacade--text1{font-size: 20px;}
    .subPacade--text2{font-size: 14px;}
    .subPacade--text3{font-size: 16px;}
    .subPacade--news-item-text1{font-size: 14px;}
    .subPacade--news-item-text2{display: none;}
    .subPacade--main-text-info-time-row span{font-size: 12px;width: 20px;height: 20px;}
}

.table04{width:100%;  border-collapse: collapse;;}
.table04 td {padding:6px 0; border-right:0; }
.table04 td b{font-weight: 600;}
.table04 td:first-child {width:140px; border-left:0; font-weight: 600;}

.tt1 {font-size:22px; font-weight:500; letter-spacing: -0.2px; margin-bottom:12px; margin-top:32px;}
.tt1.tp {margin-top:0;}




table.table05 {width: 100%;text-align: center;border-spacing: 0;font-size: 16px; table-layout: fixed;}
table.table05 td{border-bottom: 1px solid #000;border-right: 1px solid #000;padding: 24px 0;}
table.table05 td.cell-black{font-weight: 600;color: #fff;background-color: #000;border: 0px solid #000;border-right:1px solid #FFF;}
table.table05 td.cell-first{width: 14%;}
table.table05 td:not(.cell-first){width: 21.5%;}
table.table05 td.cell-small{padding: 14px 0;}
table.table05 td.cell-15{font-size: 15px;padding-left: 18px;}
table.table05 tr td div{display: flex;margin-top: 8px;align-items: center;}
table.table05 tr td:first-child{border-left:0px solid #000}
table.table05 tr td:last-child{border-right:0px solid #000}
table.table05 .circle-number{width: 24px;height: 24px;margin-right: 10px;border-radius: 50%;display: flex;align-items: center;justify-content: center;}
table.table05 .circle-green{background-color: #1bc85f;}
table.table05 .circle-blue{background-color: #0063ff;}
table.table05 .circle-red{background-color: #ff3100;}

@media all and (max-width:1280px){
    table.table05 .circle-number{display: none;}
    table.table05 td.cell-15{padding-left: 0;}
    table.table05 tr td div{justify-content: center;}
}



.list_st01 {margin-top:24px; display:flex; width:100%; flex-direction: column; gap:3px;}
.list_st01 li {display:flex; line-height: 1.4;}
.list_st01 li.pt {padding-top:11px;}
.list_st01 li .t {flex-basis: 60px; font-weight:500;}
.list_st01 li .c {flex-basis: calc(100% - 60px); font-weight: 300}
@media all and (max-width:767px){
    .list_st01 {font-size:16px;}
}
@media all and (max-width:480px){
    .list_st01 {font-size:14px;}
}
