body{background-color: #fff;}
.pacade--wrap{display: flex;padding-top: 40px;color: #000;flex-wrap: wrap;padding-bottom: 100px;}
.pacade--item{width: calc(25% - 60px / 4);margin-bottom: 60px;}
.pacade--item:not(:nth-child(4n)){margin-right: 20px;}
.pacade--thumb{width: 100%;}
.pacade--thumb img{display:block;width: 100%;}
.pacade--text1{font-size: 15px;margin-top: 24px;font-weight: 600;}
.pacade--text2{font-size: 20px;margin-top: 14px;font-weight: 600;}
.pacade--text3{font-size: 15px;margin-top: 12px;font-weight: 400;color: #999;}
@media all and (max-width:1024px){
    .pacade--item{width: calc(100% / 3 - 40px / 3);margin-bottom: 60px;}
    .pacade--item:not(:nth-child(4n)){margin-right: 0px;}
    .pacade--item:not(:nth-child(3n)){margin-right: 20px;}
}
@media all and (max-width:767px){
    .pacade--item{width: calc(50% - 10px);margin-bottom: 40px;}
    .pacade--item:not(:nth-child(3n)){margin-right: 0px;}
    .pacade--item:not(:nth-child(even)){margin-right: 20px;}
}
@media all and (max-width:480px){
    .pacade--item{width: 100%;}
    .pacade--item:not(:nth-child(4n)){margin-bottom: 40px;}
    .pacade--item:not(:nth-child(even)){margin-right: 0px;}
}

.board--wrap{padding: 44px 0 0;color: #000;margin-bottom: 160px;}
.board--buttons{display: flex;margin-bottom: 60px;}
.board--button{font-size: 20px;font-weight: bold;color: #bebebe;cursor: pointer;}
.board--button:first-child{margin-right: 30px;}
.board--button.on{color: #000;}
.board--list{border-top: 2px solid #000;display: none;font-size: 16px;}
.board--list.on{display: block;}
.board--list-item{border-bottom: 1px solid #000;display: flex;padding: 24px 0;}
.board--list-item:first-child{background-color: #fafafa;text-align: center;}
.board--list-item .bold{font-weight: 700;}
.board--list-number{font-weight: 700;width: 12%;max-width: 168px;text-align: center;min-width: 80px;}
.board--list-date{width: 12%;max-width:168px;text-align: center;min-width:100px;}
.board--list-title{width: 76%;}

@media all and (max-width:1024px){
    .board--wrap{padding: 24px 0 0 ;}
    .board--list{font-size: 14px;}
    .board--buttons{margin-bottom: 40px;}
    .board--button{font-size: 16px;margin-right: 24px;}

}